<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - websitename</title>
    <link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    @RenderBody();
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
