
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Index</h1>
    <p>It`s index page</p>
</div>
<div>
    <a asp-controller="Messages" asp-action="ListMessages">Open Messages</a>
</div>
<div>
    <a asp-controller="Messages" asp-action="Create">Create a Message</a>
</div>
<div>
    <a asp-controller="Messages" asp-action="CreateRandom">Create a random Message</a>
</div>